.navbar {
    background-color: #e2b777 !important;
    font-weight: 500;
    font-size: large;
    padding: 0 5px 0 15px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-brand {
    padding: 0;
}

.nav-link:hover {
    color: white !important;
    background-color: #3e0202;
    border-radius: 5px;
}