<div class="container-fluid main-container">
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="row">
                <h1 class="col-md-12 text-center">Kontakt</h1>
                <p class="col-md-12 text-center">Adresa: Vrtlarska 55, Zemun</p>
                <p class="col-md-12 text-center">Radno vreme: 06-23č</p>
                <p class="col-md-12 text-center">Telefon dostave: 060/670-87-77</p>
                
                <h4 class="col-md-12 text-center">Zapratite nas!</h4>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-2 text-center" style="font-size: 50px;">
                    <a href="#" class="fa fa-facebook fa-10x"></a>
                </div>
                <div class="col-md-2 text-center" style="font-size: 50px;">
                    <a href="#" class="fa fa-instagram fa-10x"></a>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <img id="logo-img" src="../../../assets/img/latest/Logo pizzala vista.jpeg" alt="Chef.png" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-md-8 mt-2">
            <div id="map" class="map"></div>
            <div id="popup" class="ol-popup">
                <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                <div id="popup-content"></div>
            </div>
        </div>
    </div>
</div>
